@charset "utf-8";
#mycanvas{border:#000 1px solid;position:absolute;top:0px;left:0px;z-index:-1;}
#mypannel{border:#000 3px solid;position:absolute;top:0px;left:150px;z-index:1;background-color:#fff;}